
/*
  Colors
  electric blue: rgba(45,100,253,1)
  logo green: rgb(26,159,99)
  lightgrey: rgba(210,210,210,1);
  baby-powder: #FEFEFA;
  ghost-white: #F8F8FF;
  teal custom: #1AAB8A;



  GRADIENTS
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);

  FONTS
  font-family: 'Comfortaa', cursive;
  font-family: 'Padauk', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Oxygen Mono', monospace;
  font-family: 'Ubuntu Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
*/

@font-face {
  font-family: 'Nikoleta';
  src: url('fonts/Nikoleta/NIKOLETA.ttf') format('truetype');
  // font-family: 'Nikoleta';
}
@font-face {
  font-family: 'Henrik';
  src: url('fonts/Henrik/Henrik-Regular.otf') format('opentype'),
       url('fonts/Henrik/Henrik-Regular.woff') format('woff');
  // font-family: 'Henrik';
}


$cust-teal: #80d0c7;
$cust-teal-alpha: rgba(128, 208, 199, 0.1);
$cust-teal-lt: rgb(237, 255, 252);

$cust-gold: #dcc78e;
$lt-gold: rgb(244, 237, 218);
$deep-gold: #FCCF0D;

$lt-blue: rgb(175, 225, 220);
$very-lt-blue: #c0e0e0;

$sky-grey1: rgb(148, 176, 190);
$sky-grey2: rgb(184, 198, 211);
$sky-peach1: rgb(220, 174, 141);

// primary resued colors
$c1: $cust-teal;
$c2: $very-lt-blue;
$c3: $deep-gold;
$lt-bg: $lt-gold;
$trim: $sky-grey1;

// logo Colors
$logo-grey: #4F5367; // rgb(79,83,103)  greyish
$logo-mossy: #7A9E9F; // rgb(122,158,159) mossy green
$logo-brick: #FE5F55; // rgb(254,95,85) bright brick


// grid stuff
$grid-size-lg: 300px;
$grid-size-sm: 250px;

body {
  margin: 0px 0px 0px 0px;
  background-color: white;
  font-family: 'Comfortaa', cursive;
}

h3  {
  text-align: center;
}

.hr-sm {
  margin: 8px auto 6px auto;
  height: 2px;
  width: 40px;
  background-color: $trim;
  border-radius: 1px;
  border-width: 0px;
  border-style: hidden;
}

.hr-sm-green {
  width: 120px;
  margin: 14px auto 14px auto;
  height: 1px;
  background-color: $trim;
  border-color: $trim;
  border-style: solid;
}

// @media screen and (min-width: 1501px) and (max-width: 5000px) {
//   div.nav-bar-contain {
//     max-width: 1500px;
//   }
// }
.nav-bar-contain {
  width: 100%;
  height: 60px;
  top: 0;
  margin-top: 0px;
  background-image: linear-gradient(to top, $sky-grey1 15%, $very-lt-blue);
  position: fixed;
}
.nav-bar {
    width: 100%;
    max-width: 1500px;
    margin: auto auto;
    height: auto;
    .nav-left-group {
      float: left;
      margin: 0px 0px 0px 20px;
    }
    .nav-left-item {
      height: 60px;
      width: 70px;
    }
    .nav-right-group {
      width: auto;
      display: inline-flex;
      float: right;
      // outline-color: red;
      // outline-width: 1px;
      // outline-style: solid;
    }
    .nav-right-item {
      height: 60px;
      width: 150px;
      text-align: center;
      // outline-color: green;
      // outline-width: 1px;
      // outline-style: solid;
    }
    .nav-right-item:hover {
      cursor: pointer;
    }
    .nav-text {
      height: auto;
      font-size: 20px;
      margin-top: 20px;
      font-family: 'Comfortaa', cursive;
        // font-family: 'Ubuntu', sans-serif;
      // font-family: 'Henrik';
      // font-weight: bolder;
      color: white;
      text-shadow: 2px 2px 6px $logo-grey;
    }
    .nav-text:hover {
      color: black;
    }
    .menu-sm:hover > .menu-bar {
      /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
      background-color: $c3;
      transition: background-color 0.5s ease;
    }
    .menu-bar {
      height: 6px;
      width: 44px;
      margin: 7px auto;
      background-color: white;
      border-width: 1px;
      border-style: none;
      border-radius: 2px;
    }
    #menu-bar-top {
      margin-top: 14px;
    }
    .proj-list-menu {
      opacity: 0;
      background-color: $sky-grey2;
      position: fixed;
      padding-top: 10px;
      top: 60px;
      right: 0px;
      width: 200px;
      height: 0px;
      border-left: solid $trim 2px;
      border-bottom: solid $trim 2px;
      /* border-top: solid lightgreen 2px; */
      border-radius: 0px 0px 0px 12px; /* top-left | top-right | bottom-right | bottom-left */
    }
    @media screen and (min-width: 981px) and (max-width: 5000px) {
      .menu-sm { display: none; }
    }
    @media screen and (max-width: 980px) {
      .menu-lg { display: none; }
      .menu-sm { display: block; }
    }
    .menu-sm {
      margin: 0px 0px 0px 0px;
      width: 80px;
      cursor: pointer;
    }
    .menu-sm:hover > .proj-list-menu {
      height: 264px;
      opacity: 1;
      transition: all 1s ease;
    }
    .menu-item {
      color: black;
      font-family: 'Ubuntu', sans-serif;
      opacity: 1;
      text-align: center;
      width: 100%;
      height: 0px;
      font-size: 18px;
    }
    .menu-sm:hover .menu-item  {
      height: 20px;
      transition: height 1s ease;
    }
    .menu-item:hover {
      background-color: $deep-gold;
    }
}



@media screen and (min-width: 1490px) and (max-width: 1680px) {
  div.about-container { background-position: -128px top; }
}
@media screen and (min-width: 980px) and (max-width: 1489px) {
  div.about-container { background-position: 51% top; }
}
@media screen and (max-width: 980px) {
  div.about-container {
    padding-top: 240px;
    height: 500px;
    background-position: 70% top;
  }
  .about-bar {
    margin: 0px auto 0px auto;
  }
}

.about-container {
  margin: 60px auto 0px auto;
  padding-top: 400px;
  height: 500px;
  color: white;
  text-shadow: 2px 2px 12px black;
  // background-image: linear-gradient(to bottom right, $cust-teal-lt, $c1);
  background-image: url("../images/me_2_crop.jpg");
  background-size: cover;
  background-position: right top;
}
.about-bar {
  margin: 0px auto 0px auto;
  padding-left: 120px;
  height: 220px;
  width: 440px;
  /* outline-width: 1px;
  outline-style: solid;
  outline-color: blue; */
}
.about-line {
  font-size: 20px;
}
.abl1, .abl2 {
  font-family: 'Padauk', sans-serif;
  font-size: 60px;
}
.abl1 {
  margin-top: 20px;
}
.abl2 {
  margin-bottom: 20px;
}
.abl3 {
  font-size: 24px;
  font-family: 'Ubuntu Mono', monospace;
}


.projects-main-contain {
  // background-image: linear-gradient(to bottom right, $cust-teal-lt, $c2);
  background-color: $cust-teal-lt;
  padding-top: 40px;
  outline-color: $trim;
  outline-width: 2px;
  outline-style: solid;
}


.canvas-bar {
  margin: 0px auto 0px auto;
}
.canvas-container {
  margin: 0px auto 0px auto;
  text-align: center;
  width: 140px;
  height: 130px;
}

#construct-txt {
  font-size: 47px;
}

.construction-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.grid-container {
  padding-top: 30px;
  padding-bottom: 80px;
}

@media screen and (min-width: 1px) and (max-width: 980px) {
  div.grid {
    width: 750px;
    height: 750px;
    -ms-grid-columns: $grid-size-sm $grid-size-sm $grid-size-sm;
    -ms-grid-rows: $grid-size-sm $grid-size-sm $grid-size-sm;
    grid-template-columns: $grid-size-sm $grid-size-sm $grid-size-sm;
    grid-template-rows: $grid-size-sm $grid-size-sm $grid-size-sm;
    // outline-color: red;
    // outline-width: 2px;
    // outline-style: solid;
  }
}
.grid {
  overflow: hidden;
  margin: 0px auto 0px auto;
  width: 900px;
  height: 900px;
  // grid-template-columns: repeat(3, 300px);
  // grid-template-rows: repeat(3, 300px);
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: $grid-size-lg $grid-size-lg $grid-size-lg;
  -ms-grid-rows: $grid-size-lg $grid-size-lg $grid-size-lg;
  // grid-template-columns: $grid-size-lg $grid-size-lg $grid-size-lg;
  grid-template-columns: repeat(3, $grid-size-lg);
  // grid-template-rows: $grid-size-lg $grid-size-lg $grid-size-lg;
  grid-template-rows: repeat(3, $grid-size-lg);
  // outline-color: green;
  // outline-width: 2px;
  // outline-style: solid;
}

.grid-item {
  border-radius: 10px;
  border-width: 0px;
  cursor: pointer;
  /** Explicit Positioning - For IE 10, IE 11 and Edge > 16 */
  &:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  &:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  &:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  &:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  &:nth-child(5){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  &:nth-child(6){
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  &:nth-child(7){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  &:nth-child(8){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  &:nth-child(9){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

.project {
  border-radius: 8px;
  border-width: 0px;
  text-align: center;
  margin: 3% auto;
  width: 94%;
  height: 94%;
  background-size: cover;
  background-repeat: no-repeat;

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  //
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
}

.grid-bg {
  padding: 3px;
  height: 95%;
  width:95%;
}

/* .p-geo, .p-img-geo {
  background-image: url('../images/flower_md.png');
}
.p-netviz, .p-img-netviz {
  background-image: url('../images/net_viz_md.png');
} */
.p-uforegon, .p-img-uforegon {
  background-image: url('../images/uforegon_md.png');
}
.p-lilrogue {
  background-size: contain;
  background-image: url('../images/lil_rogue_archer.png');
}
.p-img-lilrogue {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../images/lil_rogue.png');
}
.p-spacejunk, .p-img-spacejunk {
  background-image: url('../images/space_junk_md.png');
}
.p-sorting, .p-img-sorting {
  background-image: url('../images/sort_anim_2.png');
}
.p-animtests, .p-img-animtests {
  background-image: url('../images/anim_test_md.png');
}
.p-pacman, .p-img-pacman {
  background-image: url('../images/pac_man.png');
}
.p-qwertysquest, .p-img-qwertysquest {
  background-image: url('../images/qwertys_qwest_md.png');
}
.p-gameoflife {
  background-image: url('../images/conways_icon.png');
}
.p-img-gameoflife {
  background-image: url('../images/conways_lg.png');
}
.p-minesweeper, .p-img-minesweeper {
  background-image: url('../images/mine_md.png');
}



@media screen and (min-width: 1501px) and (max-width: 5000px) {
  .pd {
    width: 1500px;
    margin: auto auto;
  }
}
@media screen and (min-width: 1061px) and (max-width: 1200px) {
  div.pd-contain {
    height: 500px;
    .pd {
      padding: 0;
    }
  }
}
@media screen and (min-width: 1px) and (max-width: 1060px) {
  div.pd-contain {
    height: 400px;
    width: 100%;
    min-width: 800px;
    div.pd {
      padding: 0;
      margin: 0px 0px 0px 0px;
      height: 400px;
      width: 100%;
    }
  }
  div.detail-left, div.detail-right {
    height: 400px;
    width: 400px;
  }
  div.vert-contain {
    margin: 60px 0px 0px 0px;
    height: 300px;
    width: 400px;
  }
  div.detail-img {
    height: 100%;
    width: 100%;
    // background-size: contain;
    // background-position: center;
  }
  div.proj-detail-title {
    font-size: 28px;
  }
}
.pd-contain {
  max-width: 100%;
  height: 550px;
  outline-color: $trim;
  outline-width: 2px;
  outline-style: solid;
  .pd {
    font-family: 'Padauk', sans-serif;
    height: 500px;
    padding-top: 25px;
  }
}
.detail-left > hr, .detail-right > hr  {
  margin-top: 12px;
  margin-bottom: 12px;
}

.detail-left {
  width: 500px;
  height: 100%;
}
.detail-right {
  width: 500px;
  height: 100%;
}
.detail-left, .detail-right {
  text-align: center;
}
.detail-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
}

.floatl {
  float: left;
}
.floatr {
  float: right;
}
.vert-contain {
  margin: 22% auto auto auto;
  height: auto;
  width: 380px;
}
.proj-detail-title {
  font-family: 'Comfortaa', cursive;
  font-size: 34px;
  font-weight: 600;
}
.tl-title {
  margin-bottom: 10px;
  font-size: 24px;
}
.tl-items {
  margin: 0px auto 0px auto;
  width: auto;
}
.tl-items > div {
  margin: 3px auto 3px auto;
}
.btns-contain {
  width: 280px;
  height: 56px;
  margin: 4px auto 0px auto;
}
.btn-link {
  height:50px;
  width: 128px;
  margin: 0px 5px 0px 5px;
  float: left;
  background: $lt-gold;
  /* color: $c1; */
  color: #0e797a;
  font-size: 24px;
  cursor:pointer;
  border:none;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  transition:400ms ease all;
  -webkit-box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.3);
}
.btn-link:hover {
  background: white;
  color: gold;
}
.lk {
  padding-top: 11px;
}

.grad1 {
  /* fancy grad */
  /* background-image: linear-gradient(to bottom, white 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%); */
  background-image: linear-gradient(to bottom right, #f7e8c0 0%, $c1 100%);
}

.bg-grad-1 {
  background-image: linear-gradient(to left, $cust-teal-lt 0%, $c1 100%);
}

.bg-grad-2 {
  background-image: linear-gradient(to right, $cust-teal-lt 0%, $c2 100%);
}




/* ////////////////////////////// */
/* ////////////////////////////// */
/* ////////////////////////////// */
footer {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  // font-family: 'Ubuntu Mono', monospace;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 24px;
  text-shadow: 2px 2px 4px black;
  // background-image: linear-gradient(to top, $sky-grey1 15%, $very-lt-blue);
  background-image: url('../images/tech_bg1.jpeg');
  // background-repeat: circle;
  background-position: top;
  background-size: cover;
}
.grid-wrapper {
  margin: 0px auto 0px auto;
  width: 700px;
  display: grid;
  grid-template-columns: 200px 300px 200px;
  /* grid-template-rows: 100px 100px 100px; */
}
footer img {
  height: 100px;
  width: 100px;
}
.hr-sm-footer {
  width: 120px;
  margin: 14px auto 14px auto;
  height: 1px;
  background-color: $c1;
  border-color: $c1;
  border-style: solid;
}
.contact-container {
}
footer .icon {
  padding-top: 30px;
}

@media screen and (min-width: 1px) and (max-width: 760px) {
  footer {
    font-size: 20px;
  }
  .grid-wrapper {
    width: 600px;
    grid-template-columns: 200px 200px 200px;
  }
  footer .icon {
    padding-top: 18px;
  }
  .hr-sm-footer {
    width: 60px;
  }
  .contact-container {
    padding-top: 14px;
    // outline-color: blue;
    // outline-style: solid;
    // outline-width: 1px;
  }
}
