

/*
  Colors
  electric blue: rgba(45,100,253,1)
 */

 /*
  FONTS
  font-family: 'Comfortaa', cursive;
 */

body {
  background-color: rgba(150,150,150,1);
  font-family: 'Comfortaa', cursive;
}

h3  {
  text-align: center;
}

.canvas-bar {
  margin: 0px auto 0px auto;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

.canvas-container {
  background-color: rgba(130,130,130,1);
  margin: 0px auto 0px auto;
  text-align: center;
  width: 140px;
  height: 130px;
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

#canvas-logo {
  /* outline-color: red;
  outline-width: 1px;
  outline-style: solid; */
}

.construction-bar {
  padding-top: 20px;
  text-align: center;
}

.grid-container {
  /* outline-color: blue;
  outline-style: solid;
  outline-width: 1px; */
}

.grid {
  background-color: rgba(130,130,130,1);
  margin: 0px auto 0px auto;
  width: 480px;
  height: 480px;
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 160px 160px 160px;

  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

.grid-item {
  /* outline-color: green;
  outline-style: solid;
  outline-width: 1px; */
}

footer {
  text-align: center;
}
